---
const PROJECTS = [
    {
        title: "Portfolio's Project",
        description: "Working on my portfolio. Learning Astro and Tailwinds.",
        link: "",
        github: "https://github.com/NotPoncho23/portfolio",
        image: "/projects/portfolio.webp",
        tags: ["Astro", "TailwindsCSS", "JavaScript", "HTML"],
    },
    {
        title: "Web Development Playita's Project",
        description:
            "Worked on full-stack development of website with the menu of Playita's Restaurant. Using HTML, CSS, JavaScript, PHP, MySQL and Bootstrap.",
        link: "",
        github: "https://github.com/NotPoncho23/ProyectoPlayita",
        image: "/projects/playita.webp",
        tags: ["HTML", "CSS", "JavaScript", "PHP", "MySQL", "Bootstrap"],
    },
    // {
    //     title: "Web Development Cafeteria's Project",
    //     description:
    //         "Worked on Front-End development of website for optimize the orders of the cafeteria. Using HTML, CSS, JavaScript and PHP.",
    //     link: "",
    //     github: "https://github.com/NotPoncho23/ProyectoCafeteria",
    //     image: "",
    //     tags: ["HTML", "CSS", "JavaScript", "PHP"],
    // },
];
---

{
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
        <article class="m-4">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="mb3">
                {tags.map((tag) => (
                    <li>{tag}</li>
                ))}
            </ul>

            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Project's ${image} screenshoot`} />
            <br>
        </article>
    ))
}
